<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inmopID</key>
	<string>0b0e263c4fd74f4db28ca5bc999b278f</string>
	<key>cb_appid</key>
	<string>577bb663f6cd451d1f9df654</string>
	<key>cb_appsign</key>
	<string>76d31bb7ccb1307c2c7b660b171e322e2beb66fe</string>
</dict>
</plist>
